@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* css variable */
:root {  
    --color-primary: #6f6af8;
    --color-white: #fff;
    --color-red: rgb(255, 63, 63);
    --color-gray-100: hsl(220, 20%, 10%, 5%);
    --color-gray-200: hsl(220, 20%, 10%, 10%);
    --color-gray-300: hsl(220, 20%, 10%, 25%);
    --color-gray-500: hsl(220, 20%, 10%, 50%);
    --color-gray-700: #252542;
    --color-gray-900: #0c0c22;

    /* hwb -> hue white and black */
    --color-bg: hwb(240 94% 0%);

    --transition: all 300ms ease;

    --container-width-lg: 84%;
    --container-width-md: 92%;
    --form-width: 50%;

    --radius-1: 0.3rem;
    --radius-2: 0.6rem;
    --radius-3: 1rem;
    --radius-4: 2rem;
    
}
/*  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* so that everything fits in its container */
    outline: 0;
    border: 0;
}
body {
    font-family: 'lora', sans-serif;
    background: var(--color-bg);
    font-size: 0.9rem ;
    line-height: 1.6;
    color: var(--color-gray-700);
}

nav img {
    object-fit: cover;
    width: 100%;
}
a {
    text-decoration: none;
    color: var(--color-gray-700);
}
ul {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--color-gray-900);
    line-height: 1.1;
}
h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 1.9rem;
}
h3 {
    font-size: 1.25rem;
    line-height: 1.25;
}
h4 {
    font-size: 1.1rem;
}
h5 {
    line-height: 1.4;
}
section {
    margin-top: 6rem;
}
.center {
    text-align: center;
    padding-top: 5rem;
    margin-inline: block;
    width: 100%;
}
.container {
    width: var(--container-width-lg);
    margin-inline: auto;
}
.btn {
    display: inline-block;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-2);
    background: var(--color-white);
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
}
.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
    padding: 0.3rem;
    border-radius: var(--radius-2);
}
.btn-primary:hover {
    background: #39369c;
    /* padding: .2rem 2rem; */
}
.btn-category {
    background: var(--color-bg);
    color: var(--color-primary);
    font-size: 0.75rem;
    font-weight: 400;
    padding: 2px 8px;
    border-radius: var(--radius-2);
}
.btn-category:hover {
    background-color: var(--color-gray-100);
}
.btn-sm {
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    font-weight: 400;
}

.btn-danger {
    background: var(--color-red);
    color: var(--color-white);
    border-radius: var(--radius-2);

}
.btn-danger:hover {
    background-color: rgb(223, 7, 7);
}
.btn:hover {
    background: var(--color-gray-900);
    color: var(--color-white);
}

/* *************** nav bar ******** */
nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: var(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;   /*so it sits on top of everything else */
    border-bottom: 4px solid var(--color-bg);
    backdrop-filter: blur(20px) ;
}
.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav_toggle-btn {
    display: none;
}
.nav_menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav_logo {
    display: block;
    width: 100px;
}

/* *************** footer ******** */
footer { 
    background: var(--color-gray-900);
    margin-top: 6rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
}
.footer-categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
}
.footer-categories a {
    background: var(--color-gray-700);
    color: var(--color-white);
    padding: 0.6rem 1.4rem;
    border-radius: var(--radius-2);
    transition: var(--transition);
}
.footer-categories a:hover {
    background: var(--color-white);
    color: var(--color-gray-900);
}
.footer-copyright {
    text-align: center;
    border-top: 2px solid var(--color-gray-700);
    padding: 1rem;
    color: var(--color-white);
    font-weight: 300;
}

/* *************** 404 page ******** */

.error-page {
    display: flex;
    justify-content: center;
}
.center img { 
    display: block;
    margin: auto;
    height: 70vh;
}
.butn {
    margin-left: 40%;
}

/* *************** posts ******** */
.posts-container,  .author-posts-container, .category-post-container{

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.post-img img {
    width: 200px;
    min-width: 100%;
    border-radius: var(--radius-3);
    height: 12rem;
    overflow: hidden;
}
.post-author-avatar img {
    width: 25px;
}
.post {
    background: var(--color-white);
    padding: 0.5rem;
    border-radius: var(--radius-2);
    padding-bottom: 1rem ;
    transition: var(--transition);
    cursor: default;
}
.post:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}
.post-content h3 {
    margin:  0.5rem 0 0 0.4rem;
}
.post-content p {
    font-size: 14px;
    padding: 5px 0;
}
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: .7rem;
} 
.post-author {
    display: flex;
    align-items: flex-start;
}
.post-author-avatar {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: var(--radius-2);
}

/* *************** postsdetail ******** */
.post-detail {
    width: var(--form-width);
    background: var(--color-white);
    margin-inline: auto;
    padding: 2rem 0;
}
.post-detail-img {
    margin: 1rem 0;
    height: fit-content;
    max-height: 30rem;
    overflow: hidden;
}
.post-detail-img img {
    width: 100%;
}
.post-detail p {
    margin-bottom: 0.7rem;
}
.post-detail-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.post-detail-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}


/* *********************Register and form style  ********************* */
.register-section, .login, .create-post {
    display: flex;
    justify-content: center;
    width: 100%;
}
.form-main {
    padding: 1rem;
    margin-right: 3rem;
    width: 40%;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 20px;
}
.form-main h2 {
    padding-bottom: .7rem;
}
.form-err-msg {
    color: var(--color-red);
}
.register-section img {
    width: 40%;
    border-radius:var(--radius-4);

}
input, select, textarea {
    padding: 0.6rem 1rem;
    width: 100%;
    resize: none;
    border-radius: var(--radius-2);
}
.formbtn {
    padding: 0.6rem 1rem;
}
.link {
    color: #6f6af8;
}

/***** custom style for react quill ***/
 .ql-editor {
    overflow: scroll; 
    background: var(--color-white);
    height: 10rem;
 }

/* *********************Authors ********************* */
.authors-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.author {
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--radius-3);
    display: flex;
    gap: 1rem;
    transition: var(--transition);
}
.author:hover {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.7);
}
.author-avatar img {
    width: 70px;
    height: 70px;
}
.author-avatar {
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.3rem solid var(--color-bg);
    overflow: hidden;
}
.author-info {
    margin-top: 1rem;
}

/* ********************* user profile ********************* */

.profile_container {
    display: grid;
    place-items: center;
    text-align: center;
}
.profile-details {
    width: 100%;
}
.avatar-wrapper {
    width: 15rem;
    aspect-ratio: 1/1;
    position:relative;
    margin-inline: auto;
    margin-top: 1rem;
}
.profile-avatar {
    height: 100%;
    border-radius: 50%;
    border:  var(--color-white);
    overflow: hidden;
}
.avatar-form {
    height: 1rem;
}
.avatar-form input {
    visibility: hidden;
}
.avatar-form label, .profile-avatar-btn {
    background: var(--color-gray-900);
    color: var(--color-white);
    font-size: 1.2rem;
    position: absolute;
    right: 2rem;
    bottom: 1.4rem;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.profile-avatar-btn {
    cursor: pointer;
    padding: 0;
    background: var(--color-primary);
}
.profile-details h1 {
    margin-top: 1.5rem;
}
.form-profile-form {
    margin-top: 3rem;
    margin-inline: auto;
    width: var(--form-width);
}
/* ********************* Dashboard********************* */

.dasboard-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.dashboard-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: var(--color-white);
    padding: 0.5rem 1.2rem;
    margin-bottom: 1.2rem;
    border-radius: var(--radius-3);
}
.dashboard-post-info {
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: center;
}
.dashboard-post-image img {
    width: 4rem;
    height: 4rem;
    border-radius: var(--radius-1);
    overflow: hidden;
}
.dashboard-post-action {
    display:flex;
    gap: 1rem;
}

/* ********************* Media querries (small devices) ********************* */

@media screen and (max-width: 800px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.35rem;
    }
    .container {
        width: var(--container-width-md);
    }
    /*** navbar ***/
    .nav_container {
        position: relative;
    }
    .nav_menu {
        position: absolute;
        top: 5rem;
        right: 0;
        flex-direction: column;
        gap: 0;
        
    }
    .nav_menu li {
        width: 100%;
        box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.26);
        animation: dropdown 500ms ease forwards;
        opacity: 0;
        transform: rotateX(90deg);
        transform-origin: top;
    }
    /***** NAV LINK ANIMATION ****/
    @keyframes dropdown {
        to {
            opacity: 1;
            transform: rotateX(0);
        }
    }
    .nav_menu li:nth-child(2) {
        animation-delay: 300ms;
    }
    .nav_menu li:nth-child(3) {
        animation-delay: 600ms;
    }
    .nav_menu li:nth-child(4) {
        animation-delay: 900ms;
    }
    .nav_menu li a {
        display: block;
        background: var(--color-white);
        padding: 0.85rem 2.5rem;
    }
    .nav_toggle-btn {
        display: inline-block;
        background: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    /**** body ***/
    .posts-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .footer-categories {
        flex-direction: column;
    }
    .post-detail {
        width: 100%;
        background: transparent;
        padding: 0;
    }
    .register, .login, .create-post {
        width: 100%;
    }
    .form-profile-form {
        margin-top: 2.5rem;
        width: 100%;
    }
    .authors-container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
    .dashboard-post {
        flex-direction: column;
    }
    .dashboard-post-info {
        gap: 1.5rem;
    }
    .dashboard-post-image {
        width: 5rem;
    }
    .center img { 
        height: 40vh;
    }
}